{% extends "master.html" %}

{% block title %}
Rental Datas
{% endblock %}

{% load static %}

{% block css %}
<link href="{% static 'css/datatables.min.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container mt-3">
    <div class="row">
        <div class="col">
            <table id="rental-table" class="display" style="width:100%">
                <thead>
                    <tr>
                        <th>Uav</th>
                        <th>Member</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th><input type="text" name="uav" placeholder="Uav Brand"></th>
                        <th><input type="text" name="member" placeholder="Member Name"></th>
                        <th><input type="text" name="start" placeholder="Start Date (YYYY-MM-DD)"></th>
                        <th><input type="text" name="end" placeholder="End Date (YYYY-MM-DD)"></th>
                        <th></th>
                        <th></th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>

<!-- Edit Rental Modal -->
<div class="modal fade" id="edit-data" tabindex="-1" aria-labelledby="edit-dataLabel" aria-hidden="true" data-id="">
    <div class="modal-dialog">
        <form class="modal-content" onsubmit="rental.edit(this); return false">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="edit-dataLabel">Edit Rental</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-group mb-3">
                    <label for="">Vehicle</label>
                    <select name="uav_id" class="form-control" required></select>
                </div>
                <div class="form-group mb-3">
                    <label for="">Member</label>
                    <select name="renting_member_id" class="form-control" required></select>
                </div>
                <div class="form-group mb-3">
                    <label for="">Start Date</label>
                    <input type="datetime-local" name="start_date" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="">End Date</label>
                    <input type="datetime-local" name="end_date" class="form-control" required>
                </div>
                <div class="alert mt-3" role="alert" style="display: none"></div>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-secondary" data-bs-dismiss="modal">Close</a>
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block js %}
<script src="{% static 'js/datatables.min.js' %}"></script>
<script src="{% static 'js/rental.js' %}?v=10"></script>
{% endblock %}